.nav {
	grid-area: n;
	background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
.item {
	color: white;
	text-decoration: none;
}
.active {
	color: gold;
	text-decoration: none;
}
