.dialogs {
	display: grid;
    grid-template-columns: 1fr 2fr 9fr;
    padding: 10px;
}
.active{
    color:gold;
}

.messages {
	text-decoration: none;
}
.message {
    color:black;
}
.avatars{
    color:red;
}
.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
